{% extends 'base.html' %}

{% block title %}Minhas Sugestões{% endblock %}

{% block content %}
    <section>
        <h2>Minhas sugestões</h2>
        <ul>
            {% for sugestao in sugestoes %}
                <li>
                    <a href="{{ url_for('sugestoes.detalhar', sugestao_id=sugestao.id) }}">
                        <h2>{{sugestao.titulo}}</h2>
                        <span>{{sugestao.descricao}}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}