{% extends 'base.html' %}

{% block title %}Sugestões{% endblock %}

{% block content %}
    <section>
        <article>
            <form action="{{ url_for('sugestoes.criar') }}" method="post">
                <h2>Nova sugestão</h2>
                <div class="input-label">
                    <label for="titulo">Título</label>
                    <input type="text" name="titulo" id="titulo" required>
                </div>
                <div class="input-label">
                    <label for="descricao">Descrição</label>
                    <textarea name="descricao" id="descricao"></textarea>
                </div>
                <button type="submit">Postar</button>
            </form>
        </article>
        <article>
            <h2>Sugestões da comunidade</h2>
            <ul>
                {% for sugestao in sugestoes %}
                    <li><a href="{{ url_for('sugestoes.detalhar', sugestao_id=sugestao.id) }}">{{sugestao.titulo}}</a></li>
                {% endfor %}
            </ul>
        </article>
    </section>
{% endblock %}